* {
   box-sizing: border-box;
   font-family: sans-serif;
 }

body {
  display: grid;
  grid-template-columns: 15% 85%;
}
/* ***************** Side Bar ******************************************/

.photo {
  padding-top: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.side-bar {
  color: white;
  background-color: #6c0020;
  display: flex;
  flex-direction: column;
  grid-row: 1/ span 5;
  border-bottom: 2px solid black;
}

.side-bar-title {
  margin-left: 18px;
  margin-bottom: 0px;
}

.main {
  border-top: solid 2px black;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.admin {
  padding-left: 5px;
  border-top: solid 2px black;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;

}

.categories {
  padding-left: 5px;
  border-top: solid 2px black;
  border-bottom: solid 2px black;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}





/* ***************** Search Bar *****************************************/

.search-bar {
  background-color: #665e59;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.left-buttons {
  display: flex;
  align-items: center;
}


/* ***************** Title Bar *****************************************/

.header-titles {
  background-color: #e7bd42;
}

.title-container {
  background-color: #e7bd42;
  padding-left: 30px;
  margin: 0px;
  display: flex;
  justify-content: flex-start;
  align-items: space-around;
}

.title-subheader {
  background-color: #e7bd42;
  padding-left: 30px;
  margin: 0;
}

.more-icons {
  background-color: #e7bd42;
  padding-right: 30px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}






/* ***************** Tab Bar ******************************************/

.nav-tabs {
  padding-top: 10px;
  border-bottom: 2px solid black;
  background-color: #e7bd42;
  display: flex;
  justify-content: flex-start;
}

.nav-links {
  margin: 15px 30px;
  padding: 10px
}


/* ***************** Top Main Container **********************************/

.main-container {
  margin: 2em;
  background-color:	#ffffff;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.left-side {
  padding: 1em;
  border: 2px solid black;
  display: grid;
  grid-gap: 1em;
  grid-column-start: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.right-side {
  padding: 1em;
  border: 2px solid black;
  display: grid;
  grid-column-start: 2;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
/* ***************** Bottom Containers **********************************/

.facebook {
  color: white;
  background-color: #4267B2;
}

.twitter {
  color: white;
  background-color: #00acee;
}

.linkedin {
  color: white;
  background-color: #0e76a8;
}

.grid-container {
  border-top: 2px solid black;
  background-color: #ffffff;
  display: grid;
  grid-template-columns: 2fr 1fr;
}

.grid-box-left {
  padding: 1em;
  border: 2px solid black;
  margin: 2em;
  background-color: #ffffff;
  display: grid;
  grid-template-columns: 1fr 2fr;
}

.grid-box-left td {
background-color: #CCCCCC !important;
}

.grid-box-right {
  background-color: black;
  color: white;
  margin: 2em 2em 2em 0em;
  padding: 1em;
  background-color: #6c0020;
  border: 2px solid black;
  display: grid;
  grid-template-columns: 1fr;
}


.dad-jokes1 {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.first-important-title {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
}

.second-important-title {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}


.icon-image {
  margin-right: 10px;
}

.email-spam {
  display: flex;
  justify-content: space-between;
  align-items: center;
}



@media screen and (max-width: 900px) {
  .main-container {
    display: inline-block;
    text-align: center;
    justify-content: center;

    }

  .right-side {
    display: flex;
    justify-content: center;

  }

  .left-side {
    display: flex;
    justify-content: center;

  }
}



/* @media screen and (max-width: 40em) {
  body {
    background: teal;
  }
} */
