* {
   box-sizing: border-box;
   font-family: sans-serif;
 }

body {
  display: grid;
  grid-template-columns: 20% 80%;
}
/* ***************** Side Bar ******************************************/
.side-bar{
  background-color: red;
  grid-row: 1/ span 5;
  border: 2px solid black;
}

div {
  border: 2px solid black;
}

.search-bar{
  background-color: blue;
}

.title-bar{
  background-color: pink;
}

.tab-bar {
  background-color: gold;
}

.main-container{
  background-color: orange;
}
/* ***************** Main Header ******************************************/
